body.dark-mode {
    --bg-opacity: 1;
    background-color: #1a202c;
    background-color: rgba(26, 32, 44, var(--bg-opacity));
    color: #ffffff;
}

.card-body {
    background-color: #181818;
}

.sticky-footer {
    background-color: #181818;
    color: #fff
}

.sticky-footer a {
    color: #fff
}