<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>ZEXXA - LANDING PAGE</title>
  <link rel="stylesheet" href="/css/landing3.css">

</head>
<body>
<!-- partial:index.partial.html -->
<header class="showcase">
  <div class="showcase-top">
    <div class="logo-text">ZEXXA</div>
    <a href="/login" class="btn btn-rounded">Sign In</a>
  </div>
  <div class="showcase-content">
    <h1>Zexxa RestFul API</h1>
    <p>Used Anytime. Anywhere.</p>
    <a href="/signup" class="btn btn-xl">
      Start Service
      <i class="fas fa-chevron-right btn-icon"></i>
    </a>
  </div>
</header>
<!-- partial -->
  
</body>
</html>
