<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Zexxa - Landing Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Rest Api website">
    <meta name="author" content="Kira">
  <link rel="stylesheet" type="text/css" href="/css/pagee.css" />
</head>
<body>
  <div class="container">
    <div class="split left">
      <h1>Sign In</h1>
      <a href="/login" target="_blank" class="button">Start</a>
    </div>
    <div class="split right">
      <h1> Sign Up</h1>
      <a href="/signup" target="_blank" class="button">Start</a>
    </div>
  </div>
  <script type="text/javascript" src="/js/pagee.js"></script> 
</body>
</html>
  