<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Zexxa - Landing Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Rest Api website">
    <meta name="author" content="Kira">
  <!--<link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/main.css">-->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    
  <link rel="stylesheet" type="text/css" href="/css/pagee.css" />
  <style>
    .footer-bottom {
  margin-top: 3rem;
  text-align: center;
}

.footer-bottom .copyright span {
  display: inline-block;
}

.footer-bottom .copyright span::after {
  content: "|";
  display: inline-block;
  padding: 0 1rem 0 1.2rem;
  color: rgba(255, 255, 255, 0.1);
}

.footer-bottom .copyright span:last-child::after {
  display: none;
}
  </style>
</head>
<body>
  <div class="container">
    <div class="split left">
      <h1>Sign In</h1>
      <a href="/login" target="_blank" class="button">Start</a>
    </div>
    <div class="split right">
      <h1> Sign Up</h1>
      <a href="/signup" target="_blank" class="button">Start</a>
    </div>
  </div>
  <!--<footer>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-twelve">
                    <div class="copyright">
                       <span><a href="https://github.com/Kira-Master">2023 ©️Kira-Master - All Rights Reserved</a></span>		         	
                   </div>
                </div>
            </div>     	
        </div>
  </footer>-->
  <script type="text/javascript" src="/js/pagee.js"></script> 
</body>
</html>
  