<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>ZEXXA - Landing Page</title>
  <link rel="stylesheet" href="/css/landing2.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!-- Start Landing -->
<div class="landing">
  <div class="container">
    
    <!-- Header -->
    <header>
      <a href="#" class="logo">ZEXXA <span>API</span></a>
      <div class="menu-Toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav>
        <ul class="menu-Links">
          <li><a href="#">Home</a></li>
          <li><a href="about.html">About</a></li>       
          <li><a href="https://zexxa.tech">Contact</a></li>
        </ul>
      </nav>
    </header>
    
    <!-- Overlay -->
    <div class="overlay"></div>

    <!-- Landing Content -->
    <div class="landing-Content">
      <div class="introduction-text">
        <h2>Zex<span>xa </span>R<span>est </span>API</h2>
        <p>Unsure of Where to Find an API? <br>
          Our website is proud to present a diverse range of dependable and advanced application programming interfaces (APIs) to meet various business and technical needs. Our comprehensive collection of APIs eliminates any confusion when searching for the perfect program interface.
 <br>
        </p>
        <a href="/signup">Start Service</a>
      </div>
      <div class="photo-landing">
        <img src="https://c4.wallpaperflare.com/wallpaper/401/348/929/anime-death-note-yagami-light-wallpaper-preview.jpg" draggable="false" alt="The Person Image">
      </div>
    </div>

  </div>
</div>
<!-- End Landing -->
<!-- partial -->
  <script  src="/js/landing2.js"></script>

</body>
</html>
